body {
	background-color: black;

	-webkit-transition: background-color 2s;
	transition: background-color 2s;
}
.entity {
	position: absolute;
	height: 64px;
	width: 64px;

	bottom: 0;
	left: 0;
	
	box-shadow: 3px 3px 10px black;

	/*
	-webkit-transition: bottom 3s;
	-webkit-transition: left 3s;

	transition: bottom 3s;
	transition: left 3s;
	*/
}

.cube {
	background-color: black;
	height: 32px;
	width: 32px;
}
.rectangle {
	height: 32px;
	width: 48px;
}
.circle {
	height: 32px;
	width: 32px;
	border-radius: 50%;
}
.triangle {
	height: 32px;
	width: 32px;
	/*border-radius: 0% 0% 100%;*/
}

.instantly {
	-webkit-transition: bottom 0.1s;
	-webkit-transition: left 0.1s;

	transition: bottom 0.1s;
	transition: left 0.1s;
}
.fast{
	-webkit-transition: bottom 1s;
	-webkit-transition: left 1s;

	transition: bottom 1s;
	transition: left 1s;
}
.slow {
	-webkit-transition: bottom 5s;
	-webkit-transition: left 5s;

	transition: bottom 5s;
	transition: left 5s;
}